<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="#">
        <div class="cmp-card">
            <div class="cmp-card__image">
                <img src="" alt="">
            </div>
            
            <div class="cmp-card__details">
                <div class="cmp-card__details-article-type"> News </div>
                <div class="cmp-card__details-date"> 
                    Wednesday, March 24, 2021 
                </div>
                <p class="cmp-card__details-description"> Garden of Life, a Nestle Health Science Brand Teams up With Rightpoint to Redefine Direct-to-Consumer Digital Commerce </p>
            </div>

        </div>
    </a>
    
</body>
</html>