<div class="cmp-digitalproduct">

    <div class="cmp-digitalproduct__leftcard">
      <div class="cmp-digitalproduct__leftcard-image">
        <a href="#"> <img src=${properties.hbgfileReference} alt="image"
            width="100%" height="100%"> </a>

      </div>
      <p>Customer Experience /
        Digital Product /
        Transportation</p>
      <a href="#">
        <p class="cmp-digitalproduct__leftcard-title"> <span style="color: black;" class="cmp-digitalproduct__leftcard-title--black"> The Electric Truck Revolution
            Starts Inside </span>
          <span class="cmp-digitalproduct__leftcard-title--grey">Designing the In-Vehicle Experience for the First Electric Chevrolet Silverado </span>
        </p>
      </a>
    </div>

    <div class="cmp-digitalproduct__rightcard">
      <div class="cmp-digitalproduct__rightcard-image">
        <a href="#"> <img src="https://www.rightpoint.com/-/media/banner-oasis_1800x670.jpg?sc=1" alt="image"
            width="100%" height="100%"> </a>

      </div>
      <p> Digital Product</p>
      <a href="#" class="cmp-digitalproduct__rightcard-link">
        <p class="cmp-digitalproduct__leftcard-title"> <span style="color: black;" class="cmp-digitalproduct__leftcard-title--black"> Genpact Oasis </span>
          <span class="cmp-digitalproduct__leftcard-title--grey">Virtual Meetings Through Immersive Environments </span></p>
      </a>

    </div>

  </div>